<div>
  <h2>Conteo de Tipos de Pokemon</h2>
  <div *ngFor="let type of typeCount | keyvalue">
    {{ type.key }}: {{ type.value }}
  </div>
</div>
<div>
  <h2>Pokemon Seleccionado</h2>
  <div *ngIf="selectedPokemon">
    <app-pokemon-detalle [pokeDetail]="selectedPokemon"></app-pokemon-detalle>
  </div>
</div>
<div>
  <h1>Pokemones</h1>
  <div *ngFor="let pokemon of pokemons">
    <div class="card" style="width: 150px">
      <div class="card-header" style="padding: 10px">
        <h5>{{ pokemon.name }}</h5>
        <div class="card-body" style="padding: 10px"></div>
        <img
          [src]="pokemon.sprites.front_default"
          alt="{{ pokemon.name }}"
          class="card-img-top"
          style="width: 100px; height: 100px"
          (click)="onSelected(pokemon)"
        />
      </div>
    </div>
  </div>
</div>
