<div>
  <h2>Pokemon Seleccionado</h2>
  <div class="card">
    <div class="card-header">
      <h2>{{ pokeDetail.name }}</h2>
    </div>
    <img
      [src]="pokeDetail.sprites.front_default"
      alt="{{ pokeDetail.name }}"
      class="card-img-top"
      style="width: 100px; height: 100px"
    />
    <p>Altura: {{ pokeDetail.height }}</p>
    <p>Peso: {{ pokeDetail.weight }}</p>
    <p>Experiencia base: {{ pokeDetail.id }}</p>
    <p>Tipos:</p>
    <div *ngFor="let type of pokeDetail.types">
      <a routerLink="/types/{{ type.type.name }}">{{ type.type.name }}</a>
    </div>
    <p>Habilidades:</p>
    <div *ngFor="let ability of pokeDetail.abilities">
      <p>- {{ ability.ability.name }}</p>
    </div>
  </div>
</div>
